.new-topic-dropdown {
  margin-top: -45px;
  float: right;
  margin-right: 0 !important;
  .mobile-view & {
    order: 1;
    margin-top: 0;
  }
}

.select-kit {
  &.new-topic-dropdown .btn {
    .desktop-view & {
      height: 45px;
      background: var(--secondary);
      border: 2px solid var(--tertiary);
      .d-icon {
        color: var(--tertiary);
        width: 1.5em;
        height: 1.5em;
        &.caret-icon {
          padding-left: 0;
          margin-left: 0 !important;
        }
      }
      &:hover,
      &:focus {
        background: var(--primary-low);          
      }
    }
    .mobile-view & {
      .d-icon {
        &.caret-icon {
          padding-left: 0;
          margin-left: 0 !important;
          color: var(--primary-high);
        }
      }
    }
  }
  &.is-expanded .select-kit-header {
    box-shadow: none !important;
  }
}

#create-topic {
  &.open-draft {
    + .new-topic-dropdown .btn {
      border: 2px solid var(--primary-medium);
      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}
