.new-topic-dropdown {
  margin-top: -45px;
  float: right;
  margin-right: 0 !important;
  .mobile-view & {
    order: 2;
    margin-top: 0;
    margin-left: -2.75em;
  }
}

.select-kit {
  &.new-topic-dropdown .btn {
    height: 45px;
    background: var(--secondary);
    border: 2px solid var(--tertiary);
    .mobile-view & {
      height: 40px;
    }
    &:hover,
    &:focus {
      background: var(--primary-low);
    }
    .d-icon {
      color: var(--tertiary);
      width: 1.5em;
      height: 1.5em;
      .mobile-view & {
        width: 1.25em;
        height: 1.25em;
      }
      &.caret-icon {
        padding-left: 0;
        margin-left: 0 !important;
      }
    }
  }
  &.is-expanded .select-kit-header {
    box-shadow: none !important;
  }
}

#create-topic {
  &.open-draft {
    + .new-topic-dropdown .btn {
      border: 2px solid var(--primary-medium);
      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}

.mobile-view {
  #create-topic {
    &.open-draft {
      + .vp-stats + .new-topic-dropdown .btn {
        border: 2px solid var(--primary-medium);
        .d-icon {
          color: var(--primary-medium);
        }
      }
    }
  }
}
