.after-create-topic-button-outlet.new-topic-dropdown {
  width: 3.5em;
  margin-top: -3em;
  margin-left: auto;
  margin-right: 0;
  .mobile-view & {
    order: 2;
    margin-top: 0em;
    margin-left: -3.5em;
    margin-right: 0px;
  }
}

.select-kit {
  &.new-topic-dropdown .btn {
    width: 3.5em;
    height: 3em;
    background: var(--secondary);
    border-radius: 0 1em 1em 0;
    border: 2px solid var(--tertiary);
    .mobile-view & {
      height: 40px;
      border-radius: 0 2em 2em 0;
    }
    &:hover,
    &:focus {
      background: var(--primary-low);
    }
    .d-icon {
      color: var(--tertiary);
      &.caret-icon {
        padding-left: 0;
        margin-left: 0 !important;
      }
    }
  }
  &.is-expanded .select-kit-header {
    box-shadow: none !important;
  }
}

#create-topic {
  &.open-draft {
    .new-topic-dropdown .btn {
      border: 2px solid var(--primary-medium);
      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}
